body {
    margin : 0px ;
    background-color: black;
}

header > h1 {
    text-align: center;
    font-size: 20px;
}

header > img {
    position : fixed ;
    top : 0px ;
    right : 0px ;
    height: 3.5rem;
}

nav {
    color: white;
    font-weight : 100 ;
    font-size: 1.8rem ;
    width: 100%;
    height: 3.6rem;
}

nav ul li a {
    text-decoration: none;
    font-weight :100 ;
    color : white;
    font-size: 1.3rem ;
    display : block ;
    width : 100% ;
    height : 100% ;
}

nav ul {
    list-style-type : none ;
    margin : 0px ;
    padding : 0px ;
}

nav li {
    margin: 0px ;
    padding: 0px ;
}
       
nav > ul.meniu{
      display : flex;
      justify-content : space-around;
      text-align : center;
}

nav > ul.meniu  li{
      flex-grow : 1;
      border : 1px solid white;
      height:3.5rem;
      width:100%;
      line-height:3.5rem;
      background-color:black;
      position:relative;
      z-index:10;
}

nav > ul.meniu > li > ul.submeniu {visibility:hidden;}
nav > ul.meniu > li:hover > ul.submeniu {visibility:visible; width:100%; background-color:black; transition :10ms}
nav > ul.meniu  a:hover  {background-color:grey;}

#container-pagina {
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2rem;
    grid-row-gap: 10px;
    grid-template-areas:
                            "noutati noutati noutati noutati fixed"
                            "noutati noutati noutati noutati fixed"
                            "noutati noutati noutati noutati fixed";

}

#home {
    background-image: url("1.jpeg");
}

#noutati {
    display : flex ;
    flex-direction: column;
}

.titlu {
    text-align: center;
}

#image {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left : auto ;
    margin-right: auto ;
    width: 75% ;
    height: 25rem;
    border-radius: 1cm;
}

#profesor {
    width : 30% ;
    height : 10rem ;
}

#concurs {
    display: block;
    width : 70% ;
    height : 25rem ;
    margin-left: auto;
    margin-right: auto;
}

#locatie {
    width: 100% ;
    height : 25rem ;
}

#mesaj {
    width: 70%;
    height: 5rem;
}

section {
    border:2px solid black; 
    padding:1%;
    background-color:lightgoldenrodyellow;
}

footer > img {
    width: 100%;
}

#despre {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

#proiecte {
    padding-top: 10px;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

#despre > img {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
